html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 16px;
}
header {
  background-color: #263248;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header span {
  font-size: 1rem;
}

header input {
  all: unset;
  background-color: #4a5766;
  height: 2.5em;
  border-radius: 2em;
  padding: 0 1em;
  color: #fff;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100%;
  max-width: 940px;
  padding: 16px 40px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
span,
div {
  letter-spacing: -0.02em;
  line-height: 1.5em;
  color: #263238;
}

img {
  display: block;
  border: none;
  margin: 1rem 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 700;
  line-height: 1.25;
}

h1 {
  margin: 0;
  color: #fff;
  font-size: 1rem;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.85em;
  color: var(--color-fg-muted);
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

blockquote {
  margin: 0;
  padding: 0.5em 1em;
  border-left: 0.25em solid #b8c3d0;
  background-color: #f0f4f7;
}

blockquote h5 {
  color: #6d7d90;
}

blockquote p {
  margin: 0;
  color: #6d7d90;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 2em;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

.list {
  padding: 0;
  list-style: none;
}

.item {
  border-bottom: 1px solid #dee4e9;
  margin-top: 16px;
}

.item a {
  display: block;
  padding-bottom: 20px;
}

span {
  color: #b8c3d0;
}

code {
  font-size: 0.8em;
  line-height: 1.5em;
  font-family: Consolas, Monaco, monospace;
  background-color: #f0f4f7;
  border-radius: 4px;
  padding: 1px 8px;
  display: inline-block;
  color: #ff4c4c;
  margin: 0 4px;
}

pre {
  background-color: #f0f4f7;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin-bottom: 10px;
}

pre code {
  background-color: transparent;
  border-radius: 0;
  padding: 2px;
  display: inline-block;
  color: #4a5766;
  margin: 0;
}

.badge {
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
}
.new {
  background-color: #0099ff;
}

.hljs-keyword {
  color: #07a;
}

.hljs-title.function_ {
  color: #dd4a68;
}
.xml,
.hljs-attr,
.hljs-title.class_ {
  color: rgb(55, 53, 47);
}

.hljs-tag,
.hljs-name {
  color: #905;
}

.hljs-string {
  color: #690;
}
